body {
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%; }
  body h1 {
    color: #96d884;
    font-size: 4em;
    margin-bottom: -5px; }
  body h2 {
    color: #969696; }
  body h3 {
    color: #7f7f7f;
    margin-top: 0; }
  body p {
    color: #7f7f7f;
    line-height: 1.5; }

.container {
  max-width: 768px;
  margin: 0 auto; }
  .container--fluid {
    margin: 0;
    max-width: 100%; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container__col-sm-1 {
    flex-basis: 8.3333333333%; }
  .container__col-sm-2 {
    flex-basis: 16.6666666667%; }
  .container__col-sm-3 {
    flex-basis: 25%; }
  .container__col-sm-4 {
    flex-basis: 33.3333333333%; }
  .container__col-sm-5 {
    flex-basis: 41.6666666667%; }
  .container__col-sm-6 {
    flex-basis: 50%; }
  .container__col-sm-7 {
    flex-basis: 58.3333333333%; }
  .container__col-sm-8 {
    flex-basis: 66.6666666667%; }
  .container__col-sm-9 {
    flex-basis: 75%; }
  .container__col-sm-10 {
    flex-basis: 83.3333333333%; }
  .container__col-sm-11 {
    flex-basis: 91.6666666667%; }
  .container__col-sm-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 768px) {
    .container__col-md-1 {
      flex-basis: 8.3333333333%; }
    .container__col-md-2 {
      flex-basis: 16.6666666667%; }
    .container__col-md-3 {
      flex-basis: 25%; }
    .container__col-md-4 {
      flex-basis: 33.3333333333%; }
    .container__col-md-5 {
      flex-basis: 41.6666666667%; }
    .container__col-md-6 {
      flex-basis: 50%; }
    .container__col-md-7 {
      flex-basis: 58.3333333333%; }
    .container__col-md-8 {
      flex-basis: 66.6666666667%; }
    .container__col-md-9 {
      flex-basis: 75%; }
    .container__col-md-10 {
      flex-basis: 83.3333333333%; }
    .container__col-md-11 {
      flex-basis: 91.6666666667%; }
    .container__col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container__col-lg-1 {
      flex-basis: 8.3333333333%; }
    .container__col-lg-2 {
      flex-basis: 16.6666666667%; }
    .container__col-lg-3 {
      flex-basis: 25%; }
    .container__col-lg-4 {
      flex-basis: 33.3333333333%; }
    .container__col-lg-5 {
      flex-basis: 41.6666666667%; }
    .container__col-lg-6 {
      flex-basis: 50%; }
    .container__col-lg-7 {
      flex-basis: 58.3333333333%; }
    .container__col-lg-8 {
      flex-basis: 66.6666666667%; }
    .container__col-lg-9 {
      flex-basis: 75%; }
    .container__col-lg-10 {
      flex-basis: 83.3333333333%; }
    .container__col-lg-11 {
      flex-basis: 91.6666666667%; }
    .container__col-lg-12 {
      flex-basis: 100%; } }

.container {
  background-color: #FFFFFF; }
  .container__row {
    background-color: #FFFFFF; }
    .container__row.nested {
      background-color: #ffcc5c; }
    .container__row__sidebar {
      position: fixed;
      top: 0;
      left: 0; }
  [class*='container__col-'] {
    width: 150px;
    min-height: 30px;
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    justify-content: space-around; }
    [class*='container__col-'].higher {
      min-height: 60px; }

.article {
  background-color: #78a1e2; }
  .article__sidebar {
    background-color: #96d884;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
  .article__main {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }

.main {
  background-color: #78a1e2; }
  .main__img {
    background-image: url("../img/bg.jpg");
    background-position: center;
    width: 100%;
    height: 300px; }
  .main__head {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    padding-bottom: 25px;
    line-height: 1;
    border-bottom: 3px solid #dddddd; }
    .main__head ::-moz-selection {
      color: #FFFFFF;
      background: #96d884; }
    .main__head ::selection {
      color: #FFFFFF;
      background: #96d884; }
  .main__body {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 3px solid #dddddd; }
    .main__body ::-moz-selection {
      color: #FFFFFF;
      background: #96d884; }
    .main__body ::selection {
      color: #FFFFFF;
      background: #96d884; }
    .main__body__text {
      padding-left: 50px;
      padding-right: 50px; }
      .main__body__text a {
        color: #96d884;
        text-decoration: none; }
    .main__body__list {
      display: flex;
      flex-basis: content;
      flex-direction: column;
      align-items: center;
      vertical-align: center;
      text-align: center; }
      .main__body__list p {
        margin-top: -5px;
        line-height: 1.5; }
      .main__body__list h3 {
        margin-top: 10px; }
      .main__body__list img {
        width: auto;
        max-width: 100px;
        height: auto;
        max-height: 100px;
        margin-left: 50px;
        margin-right: 50px; }
    .main__body__projects {
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 15px;
      width: 100%;
      overflow: hidden; }
      .main__body__projects__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-align: flex-start;
        padding-left: 25px;
        padding-top: 0; }
        .main__body__projects__text p {
          margin-top: -5px; }
        .main__body__projects__text a {
          color: #96d884;
          text-decoration: none; }

.img__qube {
  background-image: url("../img/projects/qube1.PNG");
  background-position: center;
  background-size: contain;
  border-radius: 2%;
  width: 100%;
  height: 150px;
  max-height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center; }
  .img__qube:after {
    display: block;
    flex-align: center;
    align-content: center;
    text-align: center;
    content: 'Unity, C#';
    padding-top: 65px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 216, 132, 0.8);
    color: #FFFFFF;
    border-radius: 2%;
    opacity: 0.0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .img__qube:hover:after {
    opacity: 1; }
.img__kuhker {
  background-image: url("../img/projects/swarm.PNG");
  background-position: center;
  border-radius: 2%;
  width: 100%;
  height: 150px;
  max-height: 150px;
  position: relative; }
  .img__kuhker:after {
    display: block;
    flex-align: center;
    align-content: center;
    text-align: center;
    content: 'Android, Machine Learning, Java';
    padding-top: 55px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 216, 132, 0.8);
    color: #FFFFFF;
    border-radius: 2%;
    opacity: 0.0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .img__kuhker:hover:after {
    opacity: 1; }
.img__swarm {
  background-image: url("../img/projects/swarm.PNG");
  background-position: center top;
  background-size: contain;
  border-radius: 2%;
  width: 100%;
  height: 150px;
  max-height: 150px;
  position: relative; }
  .img__swarm:after {
    display: block;
    flex-align: center;
    align-content: center;
    text-align: center;
    content: 'Java, Python, Swarm Intelligence';
    padding-top: 55px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(150, 216, 132, 0.8);
    color: #FFFFFF;
    border-radius: 2%;
    opacity: 0.0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .img__swarm:hover:after {
    opacity: 1; }

.form__wrapper {
  position: relative;
  width: 100%;
  display: block;
  background-color: #96d884; }

form {
  position: relative;
  width: 100%; }

input[type=text], input[type=email], textarea, email {
  position: relative;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical; }

.sidebar__profile__descr {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  display: block; }
  .sidebar__profile__descr ::-moz-selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__profile__descr ::selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__profile__descr p {
    color: #ffe9e8; }
  .sidebar__profile__descr p.subtitle {
    font-size: medium;
    line-height: 10px; }
  .sidebar__profile__descr p.subsubtitle {
    font-size: small;
    line-height: 10px; }
  .sidebar__profile__descr h2 {
    color: #FFFFFF; }
.sidebar__profile__img {
  margin-top: 75px;
  margin-bottom: 0px;
  display: flex;
  align-items: center; }
  .sidebar__profile__img ::-moz-selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__profile__img ::selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__profile__img img {
    border-radius: 50%;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 150px; }
    .sidebar__profile__img img ::-moz-selection {
      color: #FFFFFF;
      background: #ffffff; }
    .sidebar__profile__img img ::selection {
      color: #FFFFFF;
      background: #ffffff; }
.sidebar__nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 0px;
  padding-left: 0px; }
  .sidebar__nav ::-moz-selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__nav ::selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__nav ul {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 2.5;
    color: #FFFFFF;
    text-align: center;
    font-size: large; }
    .sidebar__nav ul a {
      color: #FFFFFF;
      display: block;
      text-decoration: none; }
      .sidebar__nav ul a :visited {
        color: #FFFFFF; }
  .sidebar__nav li {
    border-bottom: 2px solid #b8e0ac;
    display: block; }
    .sidebar__nav li :hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .sidebar__nav li:last-child {
    border-bottom: none; }
.sidebar__social {
  display: flex;
  align-items: center; }
  .sidebar__social ::-moz-selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__social ::selection {
    color: #FFFFFF;
    background: #ffffff; }
  .sidebar__social a {
    margin-left: 20px;
    margin-right: 20px; }
    .sidebar__social a img {
      width: auto;
      max-width: 50px;
      height: auto;
      max-height: 50px; }

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%; }

@media screen and (max-width: 768px) {
  #sidebar {
    display: none;
    position: default;
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=styles.css.map */
